.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    margin-top: auto;
}

.footer-item {
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 28px;
    min-width: 40px;
    margin: 0px 15px;
}

#links {
    margin-left: 10px;
    margin-right: 10px;
}

#logos {
    position: absolute;
    display: flex;
    right: 50px;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.m2c img {
    height: 20px;
    width: 45px;
}

.bmbf img {
    height: 20px;
    width: 45px; 
}

.logoTxt {
    font-size: 12px;
    font-weight: 600;
}


.lab img{
    height: 20px;
    width: 45px;
}