.parent {
    position: relative;
}

.rect{
    position: absolute;
    width: 27vw;
    height: 27vw;
    left: 17vw;
    top: 16vw;
    background: #EEEEEE;
    border-radius: 4vw;
}

.text1{
    position: absolute;
    width: 20vw;
    height: 1vw;
    left: 4vw;
    top: 3vw;
    font-family: 'Arial';
    display: flex;
    align-items: center;
    text-align: center;
    color: #103754;
}




#table1 {
    position: absolute;
    left: 50px;
    top: 80px;
    font-weight: 600;
    font-size: 18px;
    color: #103754;
}


.manageB{
    position: absolute;
    width: 11vw;
    height: 3.5vw;
    left: 8vw;
    top: 20vw;
    font-weight: 600;
    font-family: 'Arial';
    font-size: 22px;
    line-height: 18px;
    background: #EB7C61;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


.linie{
    position: absolute;
    width: 6px;
    height: 400px;
    top: 390px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(206, 229, 246, 1);
    border-radius: 40px;
}


.rect2{
    position: absolute;
    width: 27vw;
    height: 27vw;
    right: 17vw;
    top: 16vw;
    background: #EEEEEE;
    border-radius: 4vw;
}


{/*.text2{
    position: absolute;
    width: 20vw;
    height: 1vw;
    left: 6vw;
    top: 3vw;
    font-family: 'Arial';
    display: flex;
    align-items: center;
    text-align: center;
    color: #103754;
}*/}

#table2{
    position: absolute;
    right: 190px;
    top: 80px;
    font-weight: 600;
    font-size: 18px;
    color: #103754;
}


.showB{
    position: absolute;
    width: 11vw;
    height: 3.5vw;
    left: 8vw;
    top: 20vw;
    font-weight: 600;
    font-family: 'Arial';
    font-size: 22px;
    line-height: 18px;
    background: #DBAE6D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


